<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nbar">
  <a class="navbar-brand" href="#">TravelAway</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" id="nitems">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#" routerLink="/addhotel">AddHotel</a>
      <a class="nav-item nav-link" href="#" routerLink="/addvehicle">AddVehicle</a>
      <a class="nav-item nav-link" href="#" routerLink="/viewhotels">ViewHotels</a>
      <a class="nav-item nav-link" href="#" routerLink="/viewvehicles">ViewVehicles</a>
      <a class="nav-item nav-link" href="#" (click)="logOut()">Logout</a>
    </div>
  </div>
</nav>
