<app-common-layout></app-common-layout>
<div class="content">
  <div class="signup">
    <h1 style="text-align:left">Signup</h1>
    <form #signupForm="ngForm" (ngSubmit)="SubmitForm(signupForm)">
      <div class="form-group" style="margin-top:20px;">
        <input type="text" placeholder="First Name" name="firstName" class="form-control forminputs" #firstNameRef="ngModel" ngModel required pattern="[a-zA-z]{1,}" />
      </div>
      <div *ngIf="firstNameRef.errors && (firstNameRef.dirty || firstNameRef.touched)" style="text-align:left; color:red;">
        <div [hidden]="!firstNameRef.errors.required">
          <p>&nbsp;First Name is mandatory</p>
        </div>
        <div [hidden]="!firstNameRef.errors.pattern">
          <p>&nbsp;First Name is not entered in proper format</p>
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="lastName" placeholder="Last Name" class="form-control forminputs" #lastNameRef="ngModel" ngModel required pattern="[a-zA-z]{1,}" />
      </div>
      <div *ngIf="lastNameRef.errors && (lastNameRef.dirty || lastNameRef.touched)" style="text-align:left;color:red;">
        <div [hidden]="!lastNameRef.errors.required">
          <p>&nbsp;Last Name is mandatory</p>
        </div>
        <div [hidden]="!lastNameRef.errors.pattern">
          <p>&nbsp;Last Name is not entered in proper format</p>
        </div>
      </div>
      <div class="form-group">
        <input type="email" name="emailId" placeholder="Email" class="form-control forminputs" #emailRef="ngModel" ngModel required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" />
      </div>
      <div *ngIf="emailRef.errors && (emailRef.dirty || emailRef.touched)" style="text-align:left;color:red;">
        <div [hidden]="!emailRef.errors.required">
          <p>&nbsp;EmailId is mandatory</p>
        </div>
        <div [hidden]="!emailRef.errors.pattern">
          <p>&nbsp;EmailId is not entered in proper format</p>
        </div>
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" class="form-control forminputs" #passwordRef="ngModel" minlength="8" maxlength="16" ngModel required />
      </div>
      <div *ngIf="passwordRef.errors && (passwordRef.dirty || passwordRef.touched)" style="text-align:left; color:red;">
        <div [hidden]="!passwordRef.errors.required">
          <p>&nbsp;Password is mandatory</p>
        </div>
        <div [hidden]="!passwordRef.errors.minlength && !passwordRef.errors.maxlength">
          <p>&nbsp;Password should be of length 8 to 16 characters</p>
        </div>
      </div>
      <div class="form-group">
        <input type="password" name="cpassword" placeholder="Confirm Password" class="form-control forminputs" #confirmpasswordRef="ngModel" ngModel required />
      </div>
      <div *ngIf="confirmpasswordRef.errors && (confirmpasswordRef.dirty || confirmpasswordRef.touched)" style="text-align:left; color:red;">
        <div [hidden]="!confirmpasswordRef.errors.required">
          <p>&nbsp;Confirm Password is mandatory</p>
        </div>
        <div [hidden]="confirmpasswordRef.value==passwordRef.value">
          <p>&nbsp;Confirm Password is not matching with password</p>
        </div>
        <!--<div [hidden]="confirmpasswordRef.value==passwordRef.value">
    <p>&nbsp;Confirm password not matching with password</p>
  </div>-->
      </div>
      <!--<div class="form-group">
        <label>Gender</label>
        <input type="radio" #genderRef="ngModel" name="gender" value="M" id="M" ngModel required />
        <label for="M">Male</label>
        <input type="radio" #genderRef="ngModel" name="gender" value="F" id="F" ngModel required />
        <label for="F">Female</label>
      </div>-->
      <div class="form-group">
        <select class="form-control" name="gender" #genderRef="ngModel" ngModel required>
          <option value="" disabled selected >Gender</option>
          <option value="M">Male</option>
          <option value="F" >Female</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" name="contactNumber" placeholder="Contact Number" class="form-control forminputs" #contactNumberRef="ngModel" ngModel required pattern="[1-9]{1}[0-9]{9}" />
      </div>
      <div *ngIf="contactNumberRef.errors && (contactNumberRef.dirty || contactNumberRef.touched)" style="text-align:left;color:red;">
        <div [hidden]="!contactNumberRef.errors.required">
          <p>&nbsp;Contact is mandatory</p>
        </div>
        <div [hidden]="!contactNumberRef.errors.pattern">
          <p>&nbsp;Contact number should be of 10 digits, 0 not as first digit.</p>
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="dateOfBirth" placeholder="Date of birth" class="form-control forminputs" onfocus="(this.type='date')" #dobRef="ngModel" ngModel required />
      </div>
      <div *ngIf="dobRef.errors && (dobRef.dirty || dobRef.touched)" style="text-align:left; color:red;">
        <div [hidden]="!dobRef.errors.required">
          <p>&nbsp;Date of birth is mandatory</p>
        </div>
      </div>

      <div class="form-group">
        <textarea placeholder="Address" name="address" class="form-control forminputs" #addressRef="ngModel" ngModel required></textarea>
      </div>
      <div *ngIf="addressRef.errors && (addressRef.dirty || addressRef.touched)" style="text-align:left;color:red;">
        <div [hidden]="!addressRef.errors.required">
          <p>&nbsp;Address is mandatory</p>
        </div>
       
      </div>
      <button type="submit" id="formsubmit" [disabled]="!signupForm.form.valid">Go</button>
      <div *ngIf="showDiv" style="color:red;text-align:center;">
        <br />
        {{msg}}
      </div>
    </form>
  </div></div>
