<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nbar">
  <a class="navbar-brand" href="#" routerLink="/">TravelAway</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" id="nitems">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#" routerLink="/viewPackages">Packages</a>
      <a class="nav-item nav-link" href="#" routerLink="/login/1">CustomerLogin</a>
      <a class="nav-item nav-link" href="#" routerLink="/register">Signup</a>
      <a class="nav-item nav-link" href="#" routerLink="/login/2">EmployeeLogin</a>
    </div>
  </div>
</nav>

